.webix_toolbar.main-toolbar {
    background-color: #393939;
    opacity: 0.95;
}
/* menu*/
.webix_list.menu-list .webix_list_item {
    border: none;
    line-height: 60px;
}

.user-info-block {
    text-align: center;
}

.user-icon {
    height: 150px;
}
.user-name {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

.page-name-template {
    display: flex;
    align-items: center;
    background: transparent;
    color: white;
    font-size: 18px;
    font-weight: 500;
    /*text-transform: uppercase;*/
}
.page-name-template .webix_template{
    display: flex;
    align-items: center;
}
/* menu */

/* customize page*/



/*.webix_view.webix_control.webix_el_tabbar.customize-tabbar {
    background-color: transparent;
}

.customize-tabbar .webix_all_tabs .webix_item_tab.webix_selected {
    color: #F18B28;
}

.customize-tabbar .webix_all_tabs .webix_item_tab.webix_selected,
.customize-tabbar .webix_all_tabs .webix_item_tab.webix_selected:focus {
    background-color: #393939;
    opacity: 0.9;
    box-shadow: #F18B28 0px -3px inset;
    padding-bottom: 0px;
}

.customize-tabbar .webix_all_tabs .webix_item_tab {
    background-color: #393939;
    opacity: 0.9;
    color: white;
    font-size: 22px
}*/

.vptMulticombo .webix_focused .webix_inp_static{
    border: 1px solid #ff8004;
}

.customize-multiview.webix_view.webix_multiview {
    background-color: transparent;
}

.secondary-btn.webix_el_button.webix_control button {
    background: #F4F5F9;
    color: #3c3c3c;
}

.vptRichselect.webix_el_richselect .webix_inp_static:focus{
    border: 1px solid #ff8004;
}

.vptSwitch .webix_switch_box.webix_switch_on {
    background: #ff8004;
}

.vptMultilist .webix_multilist .wxi-checkbox-marked {
    color: #ff8004
}

.vptForm .webix_slider_alt .webix_slider_box .webix_slider_left {
    background: #ff8004;
}

.vptForm.webix_view.webix_form {
    opacity: 0.96
}
.vptMulticombo .webix_multicombo_value .webix_multicombo_delete:after{
    color: #ff8004;
}
/* customize page*/

/* startWorkout page*/

.details-template{
    background: transparent;
}

.details-template .webix_template{

    border: 2px solid #F18B28;
    padding: 0;
    border-radius: 2px;

}
.details-block {
    background-color: #393939;
    color: white;
    opacity: 0.95;
}

.img-container {
    position: relative;
    text-align: center;
    opacity: 0.95;
}

.img-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*.details-block .muscules-svg {
    max-width: 50%;
    height: auto;
    max-height: 50%;
}*/

.details-block .header {
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding: 20px 10px;
    background-color: #393939;
}

.customize-info {
    font-size: 20px;
    color: white;
    text-align: center;
}

.muscules-block {
    padding: 20px;
    text-align: center;
}

.muscules-block .details-value {
    font-size: 27px;
    font-weight: 500;
}

.estimated-time-block {
    padding: 20px 10px;
    text-align: right;
    font-size: 20px;
}

.transparent {
    background-color: transparent
}

.layout {
    background-image: url(https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    background-position: center;
}

/* startWorkout page*/

/* exercises page*/

.timer-template, .info-template {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}
.info-template {
    color: #039e03c4
}

.chat-icon .webix_icon_button .webix_icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: #F18B28;
}

.chat-icon .webix_icon_button .webix_icon:hover {
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: #F18B28;
}
.webix_list.exercises-list .webix_list_item {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.exercises-list.webix_list .webix_list_item.webix_selected .block {
    box-shadow: 0 7px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.exercises-list.webix_list .webix_list_item.webix_selected {
    box-shadow: none;
    background: transparent;
}
.exercises-list .block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px;
    background-color: #EFEFEF;
    border-radius: 3px;
}

.exercises-list .muscules-block {
    font-size: 18px;
    padding-left: 20px;
    text-align: left;
}
.exercises-list .meta-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.exercises-list .icons-block {
    font-size: 26px;
    padding-right: 10px;
    color: #e6422b;
}

.exercises-list .state {
    line-height: 25px;
    padding: 0px 10px;
    border-radius: 3px;
}

.block-completed {
    border-left: 4px solid #039e037d;
}

.block-todo {
    border-left: 4px solid #80808047;
}

.block-in_progress {
    border-left: 4px solid #f18b28ad;
}

.block-cancelled {
    border-left: 4px solid #ff0000bd;
    opacity: 0.6;
}

.state {
    width: 70px;
    text-align: center;
    color: #313131;
}

.state-completed {
    background-color: #039e037d;
}

.state-todo {
    background-color: #80808047;
}

.state-in_progress {
    background-color: #f18b28ad;
}

.state-cancelled {
    background-color: #ff0000bd;
}

.webix_dtable.sets-datatable .webix_dt_editor input, .webix_view .webix_dt_editor select {
    border-color: #F18B28;
    border-radius: 2px;
}
.cell-completed {
    background: #00ff4324;
}
.cell-in_progress {
    background: rgba(241, 139, 40, 0.3);
}

.sets-datatable .webix_cell {
    text-align: center;
}

.editable-cell .webix_cell {
    background: white;
    border: 1px solid grey;
    border-radius: 2px;
}

.webix_dtable .webix_ss_body .webix_column.editable-cell > div {
    border: 1px solid #80808036;
}

.webix_dtable.sets-datatable .webix_ss_header td.webix_last_row {
    border-bottom: 1px solid #F18B28;
}

.webix_dtable.sets-datatable {
    background: #eff0f452;
}

.info-icon .webix_icon_button .webix_icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: #F18B28;
}

.exercise-name {
    font-size: 22px;
    font-weight: 500;
}

.multiline {
    line-height: 20px !important;
}

.customAccordion {
    background-color: #393939;
    opacity: 0.98;
}

.customAccordion .webix_accordionitem .webix_accordionitem_header {
    font-size: 22px;
    line-height: 60px;
}

.customAccordion .webix_accordionitem.collapsed .webix_accordionitem_header {
    color: #F18B28;
}

.customAccordion .webix_accordionitem.collapsed .webix_accordionitem_header .webix_accordionitem_button {
    color: #F18B28;
}

/*.webix_view.webix_control.webix_el_tabbar.customize-tabbar {
    background-color: transparent;
}

.customize-tabbar .webix_all_tabs .webix_item_tab.webix_selected {
    color: #F18B28;
}

.customize-tabbar .webix_all_tabs .webix_item_tab.webix_selected,
.customize-tabbar .webix_all_tabs .webix_item_tab.webix_selected:focus {
    background-color: #393939;
    opacity: 0.9;
    box-shadow: #F18B28 0px -3px inset;
    padding-bottom: 0px;
}

.customize-tabbar .webix_all_tabs .webix_item_tab {
    background-color: #393939;
    opacity: 0.9;
    color: white;
    font-size: 22px
}
*/

.customize-multiview.webix_view.webix_multiview {
    background-color: transparent;
}

.content-toolbar .accent-btn .webix_button {
    font-size: 17px;
}

.content-toolbar .accent-btn .webix_button .webix_icon_btn {
    font-size: 22px;
    color: white;
}

.accent-btn .webix_button {
    background: #F18B28;
    color: #ffffff;
    font-size: 22px;
}

.accent-btn .webix_button:hover,
.accent-btn .webix_button:focus {
    background: #ff8004;
    color: #ffffff;
}

.secondary-btn .webix_button {
    background: #F4F5F9;
    color: #475466;
    font-size: 22px;
}

.transparent {
    background-color: transparent
}

.layout {
    background-image: url(https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    background-position: center;
}

.webix_list.menu-list .webix_list_item {
    border: none;
}



/* exercises page*/