.vptTopToolbar.webix_toolbar {
    background-color: #393939;
    opacity: 0.95;
}

.vptChatIcon .webix_icon_button .webix_icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: #F18B28;
}

.vptChatIcon .webix_icon_button .webix_icon:hover {
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: #F18B28;
}

.vptMultiview.webix_view.webix_multiview {
    background-color: transparent;
}

.vptAccentBtn .webix_button {
    background: #F18B28;
    color: #ffffff;
    font-size: 22px;
}

.vptAccentBtn .webix_button:hover,
.vptAccentBtn .webix_button:focus {
    background: #ff8004;
    color: #ffffff;
}

.vptSecondaryBtn .webix_button {
    background: #F4F5F9;
    color: #475466;
    font-size: 22px;
}

.vptLayoutTransparent {
    background-color: transparent
}

.vptLayoutWithImg {
    background-image: url(https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    background-position: center;
}

/* menu*/
.vptMenuList.webix_list .webix_list_item {
    border: none;
    line-height: 60px;
}
.vptMenuList.webix_list .webix_list_item .webix_icon {
    padding-right: 10px;
}

.vptUserInfoBlock {
    text-align: center;
}

.vptUserIcon {
    height: 150px;
}
.vptUserName {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

.vptPageNameTemplate {
    display: flex;
    align-items: center;
    background: transparent;
    color: white;
    font-size: 18px;
    font-weight: 500;
    /*text-transform: uppercase;*/
}
.vptPageNameTemplate .webix_template{
    display: flex;
    align-items: center;
}
/* menu */

/* customize page*/

.vptMulticombo .webix_focused .webix_inp_static{
    border: 1px solid #ff8004;
}

.vptRichselect.webix_el_richselect .webix_inp_static:focus{
    border: 1px solid #ff8004;
}

.vptSwitch .webix_switch_box.webix_switch_on {
    background: #ff8004;
}

.vptMultilist .webix_multilist .wxi-checkbox-marked {
    color: #ff8004
}

.vptForm .webix_slider_alt .webix_slider_box .webix_slider_left {
    background: #ff8004;
}

.vptForm.webix_view.webix_form {
    opacity: 0.96
}
.vptMulticombo .webix_multicombo_value .webix_multicombo_delete:after{
    color: #ff8004;
}
/* customize page*/

/* startWorkout page*/

.vptDetailsTemplate{
    background: transparent;
}

.vptDetailsTemplate .webix_template {
    border: 2px solid #F18B28;
    padding: 0;
    border-radius: 2px;

}
.vptDetailsBlock {
    background-color: #393939;
    color: white;
    opacity: 0.95;
}
.vptDetailsBlock .vptHeader {
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding: 20px 10px;
    background-color: #393939;
}
.vptImgContainer {
    position: relative;
    text-align: center;
    opacity: 0.95;
}

.vptImgContainer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*.details-block .muscules-svg {
    max-width: 50%;
    height: auto;
    max-height: 50%;
}*/



.vptCustomizeInfo {
    font-size: 20px;
    color: white;
    text-align: center;
}

.vptMusculesBlock {
    padding: 20px;
    text-align: center;
}

.vptMusculesBlock .vptDetailsValue {
    font-size: 27px;
    font-weight: 500;
}

.vptEstimatedTimeBlock {
    padding: 20px 10px;
    text-align: right;
    font-size: 20px;
}
/* startWorkout page*/

/* exercises page*/
.vptExercisesList.webix_list {
    background: transparent;
}

.vptExercisesList.webix_list .vptStartBtn {
    padding: 0px 30px;
    background: #ff8004;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
}
.vptExercisesList.webix_list .vptExerciseInfo .vptExerciseName{
    font-size: 18px;
    font-weight: 500;
}

.vptExercisesList.webix_list .vptExerciseInfo .vptExerciseSets{
    font-size: 16px;
    color: #ff8004;
    text-decoration: underline;
    display: inline-block;
}

.vptExercisesList.webix_list .vptExerciseInfo {
    padding-left: 5px;
    text-align: left;
}
.vptExercisesList.webix_list .webix_list_item {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.vptExercisesList.webix_list .webix_list_item.webix_selected .vptBlock {
    box-shadow: 0 7px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.vptExercisesList.webix_list .webix_list_item.webix_selected {
    box-shadow: none;
    background: transparent;
}
.vptExercisesList.webix_list .vptBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px;
    background-color: #EFEFEF;
    border-radius: 3px;
}

.vptExercisesList.webix_list .vptMetaInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.vptExercisesList.webix_list .vptState {
    line-height: 25px;
    padding: 0px 10px;
    border-radius: 3px;
}

.vptBlockCompleted {
    border-left: 4px solid #039e037d;
}

.vptBlockTodo {
    border-left: 4px solid #80808047;
}

.vptBlockInProgress {
    border-left: 4px solid #f18b28ad;
}

.vptBlockCancelled {
    border-left: 4px solid #ff0000bd;
    opacity: 0.6;
}

.vptState {
    width: 70px;
    text-align: center;
    color: #313131;
}

.vptStateCompleted {
    background-color: #039e037d;
}

.vptStateTodo {
    background-color: #80808047;
}

.vptStateInProgress {
    background-color: #f18b28ad;
}

.vptStateCancelled {
    background-color: #ff0000bd;
}

/* exercises page*/

/* current exercise page */

.timer-template, .info-template {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}
.info-template {
    color: #039e03c4
}



.webix_dtable.sets-datatable .webix_dt_editor input, .webix_view .webix_dt_editor select {
    border-color: #F18B28;
    border-radius: 2px;
}
.cell-completed {
    background: #00ff4324;
}
.cell-in_progress {
    background: rgba(241, 139, 40, 0.3);
}

.sets-datatable .webix_cell {
    text-align: center;
}

.editable-cell .webix_cell {
    background: white;
    border: 1px solid grey;
    border-radius: 2px;
}

.webix_dtable .webix_ss_body .webix_column.editable-cell > div {
    border: 1px solid #80808036;
}

.webix_dtable.sets-datatable .webix_ss_header td.webix_last_row {
    border-bottom: 1px solid #F18B28;
}

.webix_dtable.sets-datatable {
    background: #eff0f452;
}

.info-icon .webix_icon_button .webix_icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: #F18B28;
}

.exercise-name {
    font-size: 22px;
    font-weight: 500;
}

.multiline {
    line-height: 20px !important;
}

.customAccordion {
    background-color: #393939;
    opacity: 0.98;
}

.customAccordion .webix_accordionitem .webix_accordionitem_header {
    font-size: 22px;
    line-height: 60px;
}

.customAccordion .webix_accordionitem.collapsed .webix_accordionitem_header {
    color: #F18B28;
}

.customAccordion .webix_accordionitem.collapsed .webix_accordionitem_header .webix_accordionitem_button {
    color: #F18B28;
}

/*.webix_view.webix_control.webix_el_tabbar.customize-tabbar {
    background-color: transparent;
}

.customize-tabbar .webix_all_tabs .webix_item_tab.webix_selected {
    color: #F18B28;
}

.customize-tabbar .webix_all_tabs .webix_item_tab.webix_selected,
.customize-tabbar .webix_all_tabs .webix_item_tab.webix_selected:focus {
    background-color: #393939;
    opacity: 0.9;
    box-shadow: #F18B28 0px -3px inset;
    padding-bottom: 0px;
}

.customize-tabbar .webix_all_tabs .webix_item_tab {
    background-color: #393939;
    opacity: 0.9;
    color: white;
    font-size: 22px
}
*/

.content-toolbar .vptAccentBtn .webix_button {
    font-size: 17px;
}

.content-toolbar .vptAccentBtn .webix_button .webix_icon_btn {
    font-size: 22px;
    color: white;
}

/* current exercise page */

